---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  # - ./secret.enc.yaml
  - ./helm-release.yaml
labels:
  - pairs:
      app.kubernetes.io/name: weave-gitops
      app.kubernetes.io/instance: weave-gitops
