---
clusterName: homelab-cluster

talosVersion: v1.3.6
kubernetesVersion: v1.26.3

endpoint: https://${clusterEndpointIP}:6443
domain: cluster.local

cniConfig:
  name: none

additionalMachineCertSans:
  - ${clusterEndpointIP}
  - ${clusterDomainName}
additionalApiServerCertSans:
  - ${clusterDomainName}

# clusterPodNets:
#   - 10.244.0.0/16
# clusterSvcNets:
#   - 10.96.0.0/12

nodes:
  # Raspberry Pis
  - hostname: c0-pi-0.${clusterDomainName}
    disableSearchDomain: true
    ipAddress: 10.0.6.70
    controlPlane: true
    installDisk: /dev/mmcblk0
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.0.6.70/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.6.1
        dhcp: false
        vip:
          ip: ${clusterEndpointIP}
  - hostname: c0-pi-1.${clusterDomainName}
    disableSearchDomain: true
    ipAddress: 10.0.6.71
    controlPlane: true
    installDisk: /dev/mmcblk0
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.0.6.71/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.6.1
        dhcp: false
        vip:
          ip: ${clusterEndpointIP}
    # VMs on "aurora"
  - hostname: c0-aurora-0.${clusterDomainName}
    disableSearchDomain: true
    ipAddress: 10.0.6.80
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.0.6.80/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.6.1
        dhcp: false
        vip:
          ip: ${clusterEndpointIP}
  - hostname: c0-aurora-1.${clusterDomainName}
    disableSearchDomain: true
    ipAddress: 10.0.6.81
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.0.6.81/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.6.1
        dhcp: false
  - hostname: c0-aurora-2.${clusterDomainName}
    disableSearchDomain: true
    ipAddress: 10.0.6.82
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.0.6.82/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.6.1
        dhcp: false
    # VMs on "ares"
  - hostname: c0-ares-0.${clusterDomainName}
    disableSearchDomain: true
    ipAddress: 10.0.6.83
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.0.6.83/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.6.1
        dhcp: false
        vip:
          ip: ${clusterEndpointIP}
  - hostname: c0-ares-1.${clusterDomainName}
    disableSearchDomain: true
    ipAddress: 10.0.6.84
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.0.6.84/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.6.1
        dhcp: false
  - hostname: c0-ares-2.${clusterDomainName}
    disableSearchDomain: true
    ipAddress: 10.0.6.85
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.0.6.85/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.6.1
        dhcp: false

controlPlane:
  inlinePatch:
    machine:
      token: ${machineToken}
      ca:
        crt: ${machineCert}
        key: ${machineCertKey}
      kubelet:
        extraArgs:
          rotate-server-certificates: "true"
          feature-gates: GracefulNodeShutdown=true,MixedProtocolLBService=true
        # nodeIP:
        #   validSubnets:
        #     - 10.0.6.0/24
      files:
        - content: |
            [plugins."io.containerd.grpc.v1.cri"]
              enable_unprivileged_ports = true
              enable_unprivileged_icmp = true
          path: /var/cri/conf.d/allow-unpriv-ports.toml
          op: create
      sysctls:
        fs.inotify.max_user_instances: "8192"
        fs.inotify.max_user_watches: "1048576"
      network:
        extraHostEntries:
          - ip: ${clusterEndpointIP}
            aliases:
              - ${clusterDomainName}
      time:
        disabled: false
        servers:
          - time.cloudflare.com
    cluster:
      secret: ${clusterSecret}
      token: ${clusterToken}
      secretboxEncryptionSecret: ${secretboxEncryptionSecret}
      ca:
        crt: ${clusterCert}
        key: ${clusterCertKey}
      aggregatorCA:
        crt: ${k8sAggregatorCert}
        key: ${k8sAggregatorCertKey}
      serviceAccount:
        key: ${k8sServiceAccountKey}
      apiServer:
        admissionControl: []
        extraArgs:
          feature-gates: MixedProtocolLBService=true,EphemeralContainers=True
      controllerManager:
        extraArgs:
          # bind-address: 0.0.0.0
          feature-gates: MixedProtocolLBService=true,EphemeralContainers=True
      proxy:
        disabled: true
        # extraArgs:
        #   feature-gates: MixedProtocolLBService=true,EphemeralContainers=True
      scheduler:
        extraArgs:
          # bind-address: 0.0.0.0
          feature-gates: MixedProtocolLBService=true,EphemeralContainers=True
      discovery:
        registries:
          service:
            disabled: true
      etcd:
        ca:
          crt: ${etcdCert}
          key: ${etcdCertKey}
      extraManifests:
        - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/v0.6.7/deploy/ha-install.yaml
      allowSchedulingOnMasters: true
worker:
  inlinePatch:
    machine:
      token: ${machineToken}
      ca:
        crt: ${machineCert}
        key: ${machineCertKey}
      kubelet:
        extraArgs:
          feature-gates: MixedProtocolLBService=true,EphemeralContainers=True
          rotate-server-certificates: "true"
      files:
        - content: |
            [plugins."io.containerd.grpc.v1.cri"]
              enable_unprivileged_ports = true
              enable_unprivileged_icmp = true
          path: /var/cri/conf.d/allow-unpriv-ports.toml
          op: create
      sysctls:
        fs.inotify.max_user_instances: "8192"
        fs.inotify.max_user_watches: "1048576"
      network:
        extraHostEntries:
          - ip: ${clusterEndpointIP}
            aliases:
              - ${clusterDomainName}
      time:
        disabled: false
        servers:
          - time.cloudflare.com
    cluster:
      secret: ${clusterSecret}
      token: ${clusterToken}
      secretboxEncryptionSecret: ${secretboxEncryptionSecret}
      ca:
        crt: ${clusterCert}
        key: ${clusterCertKey}
      discovery:
        registries:
          service:
            disabled: true
